.rounded-borders {
    border-radius: 15px;
}

.limited-size {
    max-width: 70%;
    max-height: 70%;
}

.centered {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.inverted {
    filter: invert(1);
}

.input-form {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fabe04;
    background-clip: padding-box;
    border: 1px transparent;
    border-radius: 15px;
}